#backButton {
    position: absolute;
    top: 2%; 
    right: 0; 

    margin: 1em; 

    height: 2em;
    width: 5em;
}

.NotesContainer {
    display: 'flex';
    justify-content: center;
    align-items: center;

    font-family: 'Roboto Slab', serif;
}

.ListLayoutContainer {
    
    margin: 1em;
    padding: 1em;
}


