.SearchBar {
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.SearchBar > input { 

    border: 2px solid black; 
    border-radius: 25px;

    margin-bottom: 1em;
    padding: 1em;

    height: 5%; 
    width: 50%;
}

.SearchBar input:hover {
    transition: all ease 1s; 
    transform: scale(1.5);

    margin-bottom: 2em;
}