html, 
body {
  display: flex;
  justify-content: center; 


  margin: 0; 
  padding: 0; 
  height: 100%; 
  width: 100%;

}

.App-Container {
  margin: 2em;
  background: linear-gradient(to right,#181818, #CC80AF);
  
  border-radius: 10%;
  border: 2px solid black;
  } 